.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%; /* Ensure the container takes full width */
    max-width: 2000px; /* Set a max-width for the container */
    margin: 1rem 0; /* Add some margin for spacing */
    margin-top: 10rem;
  }
  
  .profileImage {
    border-radius: 50%;
    margin-right: 10rem;
    margin-left: 10rem;
  }
  
  .about {
    margin-top: 10rem;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10rem;
    margin-top: 6rem;
  }

  .aboutLink {
    color: #0070f3; /* Replace with your desired color */
    text-decoration: none; /* Optional: Remove underline */
  }

  .arrowContainer {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
  
  .arrow {
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: upDown 2s infinite ease-in-out;
    margin-top: 5rem;
  }
  
  @keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @media (max-width: 768px) {
    .title {
      font-size: 1.5rem;
    }
  
    .imageContainer {
      flex-direction: column;
    }
  
    .arrowContainer {
      margin-top: 1rem;
    }
  
    .about {
      padding: 1rem;
    }
  }
  