.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted min width */
    gap: 16px; /* Space between cards */
    width: 100%;
    justify-content: center; /* Center the cards within the container */
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
      margin: 0.5rem 0;
    }
  
    .grid {
      flex-direction: column;
      align-items: center;
    }
  }
  